	<div>
	    <h2>Task Details</h2>

	    <div class="panel-group">

		    <div class="panel panel-primary">
		      <div class="panel-heading">{{taskData.subject}}</div>
		      <div class="panel-body">

			    <div class="form-group col-sm-4">
			      <label>priority</label>
			      <div class="form-control">{{taskData.priority}}</div>
			    </div>
		 
		        <div class="form-group col-sm-4">
			      <label>created date</label>
			      <div class="form-control">{{taskData.created_date}}</div>
			    </div>

			    <div class="form-group col-sm-4">
			      <label>target completion date</label>
			      <div class="form-control">{{taskData.target_date}}</div>
			    </div>

			    <div class="form-group col-sm-12">
			      <label>remarks</label>
			      <div class="form-control">{{taskData.remarks}}</div>
			    </div>

			    <div class="form-group col-sm-12">
			      <label>body</label>
			      <div class="form-control">{{taskData.body}}</div>
			    </div>

			    <div class="form-group col-sm-4">
			        <label>task status</label>
			      <div class="form-control" >{{taskData.status}}</div>
               
                  <div *ngIf="taskData.status=='pending approval'">
			      <button class="btn btn-success" (click)="statusChange('approved')"> approve</button>
			      <button class="btn btn-danger" (click)="statusChange('declined')"> decline</button>
			      </div>
			      <div *ngIf="taskData.status=='approved' || taskData.status=='pending approval'">
			       <button class="btn btn-danger" (click)="statusChange('completed')"> Completed</button>
			       </div>
			    </div>

		      </div>
		    </div>
	    </div>
	</div>


		 