<h3><i>Registration Form</i></h3>

<form class="col-sm-6 well" [formGroup]="regForm" (ngSubmit)="onSubmit()" novalidate >

  <div class="form-group">
    <label class="center-block">Create username</label>
    <input class="form-control" formControlName="name">
  </div>

  <!-- errors -->
  <div *ngIf="regForm.controls.name.errors && (regForm.controls.name.touched || regForm.controls.name.dirty)">
    <div [hidden]="!regForm.controls.name.errors.required" >
       <p> Must not be empty</p>
    </div>
  </div>

  <div class="form-group">
    <label class="center-block">Email Id</label>
    <input class="form-control" type="email" formControlName="email">
  </div>

  <!-- errors -->
  <div *ngIf="regForm.controls.email.errors && (regForm.controls.email.touched || regForm.controls.email.dirty)">
    <div [hidden]="!regForm.controls.email.errors.required" >
       <p> Must not be empty</p>
    </div>
  </div>

  <div class="form-group">
    <label class="center-block">Password:</label>
    <input type="password" class="form-control" formControlName="password">
  </div>

  <!-- errors -->
  <div *ngIf="regForm.controls.password.errors && (regForm.controls.password.touched || regForm.controls.password.dirty)">
    <div [hidden]="!regForm.controls.password.errors.required" >
       <p> Must not be empty</p>
    </div>
  </div>

  <div class="form-group">
    <label class="center-block">Confirm Password:</label>
    <input type="password" class="form-control" formControlName="cpassword">
  </div>

  <!-- errors -->
  <div *ngIf="regForm.controls.cpassword.errors  && (regForm.controls.cpassword.touched || regForm.controls.cpassword.dirty)">
    <div [hidden]="!regForm.controls.cpassword.errors.required" >
       <p> Must not be empty</p>
    </div>
    <div [hidden]="!regForm.controls.cpassword.errors.wrongPassword" >
       <p> Passwords do not match</p>
    </div>
  </div>

  <button class="btn btn-success" type="submit" [disabled]="!regForm.valid">submit</button> 

  <button class="btn btn-danger" [routerLink]="['/loginPage']">go to login</button>

</form>
