<div>
   <div *ngIf = "edit == false">
 <!--   <h2>Task Details</h2>
  	 <p >  taskData status: {{taskData.status}}  |  assigned by: {{taskData.assigner}}  |  priority: {{taskData.status}}   
  	 </p> 
  	 <p>{{taskData.body}}</p>
  	 <p>{{taskData.created_date}}</p>   -->
    <h2>Task Details</h2>

    <div class="panel-group">

	    <div class="panel panel-primary">
	      <div class="panel-heading">{{taskData.subject}}</div>
	      <div class="panel-body">
	      	<div class="form-group col-sm-4">
		      <label>task status</label>
		      <div class="form-control" >{{taskData.status}}</div>
		    </div>

		    <div class="form-group col-sm-4">
		      <label>priority</label>
		      <div class="form-control">{{taskData.priority}}</div>
		    </div>
	 
	        <div class="form-group col-sm-4">
		      <label>created date</label>
		      <div class="form-control">{{taskData.created_date}}</div>
		    </div>

		    <div class="form-group col-sm-4">
		      <label>target completion date</label>
		      <div class="form-control">{{taskData.target_date}}</div>
		    </div>

		    <div class="form-group col-sm-8">
		      <label>remarks</label>
		      <div class="form-control">{{taskData.remarks}}</div>
		    </div>

		    <div class="form-group col-sm-12">
		      <label>body</label>
		      <div class="form-control">{{taskData.body}}</div>
		    </div>

			<div *ngIf = "taskData.id !== ''">
		       <button class="btn btn-success"(click) = "edit = true">edit</button>
		       <button class="btn btn-danger"(click) = "deleteTask(taskData.id)">delete</button>
		     </div>
	      </div>
	    </div>
    </div>
  </div>

  <div *ngIf = "edit == true">
    <h2>Edit Task</h2>
    <form [formGroup]="editTask" (ngSubmit)="onSubmit()">

        <div class="form-group">
	      <label >Assign to </label>
	      <select class="form-control"  formControlName="assignee">
	          <option selected="selected" disabled="disabled">{{taskData.userName}}</option>
		      <option *ngFor="let user of allUserData" value={{user.id}}>{{user.name}}</option>
		  </select>
	    </div>

	    <div class="form-group">
	      <label>subject</label>
	      <input class="form-control" value={{taskData.subject}} formControlName="subject">
	    </div>	
	    
	    <div class="form-group col-sm-4">
		    <mat-form-field class="example-full-width">
			  <input matInput formControlName="date" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Target date">
			  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			  <mat-datepicker #picker ></mat-datepicker>
			</mat-form-field>
	    </div>

	    <mat-form-field class="form-group">
		  <mat-select placeholder="Priority:" formControlName="priority">
		    <mat-option selected="selected" disabled="disabled">{{taskData.priority}}</mat-option>
		    <mat-option value="very_high">Very High</mat-option>
		    <mat-option value="high">High</mat-option>
		    <mat-option value="medium">Medium</mat-option>
		    <mat-option value="low">Low</mat-option>
		  </mat-select>
		</mat-form-field>

		 <div class="form-group">
	      <label id="time" >Target Time (24hr format)</label>
	       <input  class="form-control" formControlName="time" id="time" type="time">
	    </div>

	    <div class="form-group">
	      <label> body </label>
	      <textarea rows="6" class="form-control" value={{taskData.body}} formControlName="body"></textarea>
	    </div>

      <button class="btn btn-submit" type="submit" [disabled]="!editTask.valid">save</button>
      <button class="btn btn-submit" (click) = "edit = false">cancel</button>
    </form>
  </div>
</div>


	 