<h2>Add a new Task</h2>
<form [formGroup]="newTask" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label >Assign to </label>
      <select class="form-control"  formControlName="assignee">
	      <option *ngFor="let user of allUserData" value={{user.id}}>{{user.name}}</option>
	  </select>
    </div>

    <div class="form-group">
      <label>subject</label>
      <input class="form-control" formControlName="subject">
    </div>	
    
    <div class="form-group col-sm-4">
	    <mat-form-field class="example-full-width">
		  <input matInput formControlName="date" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Target date">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker ></mat-datepicker>
		</mat-form-field>
    </div>

    <mat-form-field class="form-group">
	  <mat-select placeholder="Priority:" formControlName="priority">
	    <mat-option value="very_high">Very High</mat-option>
	    <mat-option value="high">High</mat-option>
	    <mat-option value="medium">Medium</mat-option>
	    <mat-option value="low">Low</mat-option>
	  </mat-select>
	</mat-form-field>

	 <div class="form-group">
      <label id="time" >Target Time (24hr format)</label>
       <input  class="form-control" formControlName="time" id="time" type="time">
    </div>

    <div class="form-group">
      <label> body </label>
      <textarea rows="6" class="form-control" formControlName="body"></textarea>
    </div>

    <button class="btn btn-submit" type="submit" [disabled]="!newTask.valid">save</button>
    <button class="btn btn-danger" [routerLink]="['../']" >cancel</button>
</form>